body {
    background-color: darkblue;
    color: ghostwhite;
    font-size: 120%;
}

h1 {
    padding: 0 15px;
    margin: 0px;
    font-size: 600%;
    background-color: dodgerblue;
}

#container {
    padding: 10px;
}

blockquote {
    font-style: italic;
}

a {
    color: floralwhite;
    font-weight: bold;
    text-underline: none;
}

